{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Home </title>

    <!-- Twitter Bootstrap3 Style Sheet -->
    <link href="{% static 'portfolio/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- AngularJS Import -->
    <script src="{% static 'portfolio/js/angular.min.js' %}"></script>
    
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-82720914-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>

<style>
    .parallax {
        /* The image used */
        background-image: url("{% static 'portfolio/img/delicate-arch.jpg' %}");
    }
</style>

<link href="{% static 'portfolio/css/home.css' %}" rel="stylesheet">

<script type="text/javascript" src="{% static 'portfolio/js/d3.v4.js' %}"></script>        
<script src="{% static 'portfolio/js/animated-timeline.js' %}"></script>

<div class="parallax">
    <div class="container">
            <div class="vertical-center jumbotron">
                    <h1 class="text-center">Scott Schretzenmaier</h1>
                    <p class="lead text-center">
                        Software Engineer, Bug Squasher, Adventure Seeker
                    </p>                    
                    
            </div>
    </div>

</div>

<div class="container">

    <!-- About -->
    <div class="row top-buffer">
        <div class="col-md-4">
            <img src="{% static 'portfolio/img/mountaineering-1.png' %}" class="img-responsive center-block" alt="Profile Image"/>                
        </div> <!--Col left -->

        <div class="col-md-6 col-md-offset-1">
            <div class="page-header">
                    <h1 class="subject-header">Hi, I'm Scott</h1>
                    <p class="lead about-me">
                        I'm a motivated guy who loves building software that gets stuff done. 
                        I prefer backend development but I dabble a bit with the frontend.
                        I'm also a big fan of agile processes, both in development and in life. 
                    </p>
                    
                    <ul class="list-inline">
                        <li class="contact-info"><strong>Email: </strong><a href="mailto:schretzy929@gmail.com">schretzy929@gmail.com</a></li>
                        <li class="contact-info"><strong>Location: </strong>Los Angeles, CA</li>
                        <li class="contact-info">Resume: <a href="https://drive.google.com/file/d/1EQl5rqPQlm2Wa_DveyAIBIQDAdqFlbXO/view?usp=sharing" target="_blank">PDF</a></li>
                    </ul>
                    
            </div>
        </div><!-- Col Right-->
    </div> <!-- End About Row -->

    <!-- Experience -->
    <div ng-app="lineAnimation" class="row top-buffer">
            <!-- Animated Timeline -->
            <div  id="canvas" ng-controller="myCtrl" class="col-md-1 hidden-sm hidden-xs">

            </div> <!-- End Animated Timeline Col-->

            <div id="experience-col" class="col-md-11">
                <h1 class=subject-header>Experience</h1>                            

                <!-- Northrop Grumman Header -->
                <div class="row">
                    <div class="col-md-8">
                        <h2 id="Northrop-Header" class="company-name">Northrop Grumman</h2>
                        <h2 class="job-title ">Software Engineer</h2>                        
                    </div>
                    <div class="col-md-4">
                        <h2 class="subject-sub-date"><small>March/2017-Current</small></h2>                                                            
                    </div>
                </div>
                <!--Northrop Grumman Header-->

                <!--Northrop Grumman Keypoints-->
                <div class="row">
                    <div class="col-md-12">
                        <p class="job-description">I'm currently working with an agile team of 
                            talented engineers designing and developing the best mission planning software for the B1 Bomber.</p>
        
                        <p class="job-team-name">B1 Bomber Mission Planning Team </p>
                        <ul>
                            <li class="job-key-points">Developed / implemented mission planning algorithms and GUI tools using C# and .Net</li>
                            <li class="job-key-points">Conducted live tests and demos for the application’s new features, enhancements and bug fixes</li>
                            <li class="job-key-points">Engaged in long term application design sessions as well as short term sprint planning meetings</li>
                        </ul>
                    </div>
                </div> <!-- End Northrop Grumman Keypoints -->
                
                <!--Solo Adventurer Section-->
                <div class="row">
                    <div class="col-md-8">
                            <h2 id="X-Country-Header" class="company-name">Cross Country Traveler</h2>
                            <h2 class="job-title ">Solo Adventurer</h2>                            
                            
                    </div>

                    <div class="col-md-4">
                            <h2 class="subject-sub-date"><small>August/2016 - January/2017</small></h2>                            
                    </div>
                </div> <!-- X Country Travler Header -->
                
                <!-- X Country Travler Keypoints -->
                <div class="row">
                    <div class="col-md-12">
                        <p class="job-description">A solo 6 month adventure across America summarized 
                                <a target="_blank" href="https://schretzilla.github.io/adventure-america/index" >here</a>
                                using D3
                            </p>

                        <ul>
                            <li class="job-key-points">Volunteered with Samaritan’s Purse helping Louisiana flood victims </li>
                            <li class="job-key-points">Summited 24 of Colorado’s 14,000+ foot mountains </li>
                            <li class="job-key-points">Confirmed strategy and required actions for my five-year plan</li>
                        </ul>
                    </div>
                </div> <!-- End X Country Travler Keypoints -->

                <!--UPMC ISDR Program-->
                <div class="row">
                    <div class="col-md-8">
                        <h2 id="isdr-header" class="company-name">University of Pittsburgh Medical Center </h2>
                        <h2>ISD Rotational Engineer </h2>
                        <p class="job-description">A two-year leadership development rotational program designed for selected candidates to
                        develop both technical and operational insight</p>
                        
                    </div>
                    <div class="col-md-4">
                        <h2 class="subject-sub-date"><small>July/2014 - July/2016</small></h2>
                    </div>
                </div> <!-- End ISDR Header -->

                <div class="row">
                    <div class="col-md-12">

                        <p class="isdr-job-title">UNIX Services <small class="small-date">(January/2016 – July/2016)</small></p>
                        <ul>
                            <li class="job-key-points">Served as Systems Engineer managing IBM’s
                                AIX 6 and RHEL 6 operating systems</li>
                            <li class="job-key-points">Deployed discovery agent across 1700 AIX and RHEL servers </li>
                            <li class="job-key-points">Scripted Bash and KornShell processes to automate manual tasks  </li>
                        </ul>

                        <p class="isdr-job-title">Enterprise Systems Management <small class="small-date">(July/2015 – January/2016)</small></p>
                        <ul>
                            <li class="job-key-points">Drove the creation of the central IT data Warehouse project as the technical lead </li>
                            <li class="job-key-points">Lead demos and presentations on data warehouse’s structure and data</li>
                            <li class="job-key-points">Configured and created interactive Splunk management reports and dashboards</li>
                        </ul>
                        <p class="isdr-job-title">Enterprise Architecture <small class="small-date">(January/2015 – July/2015)</small></p>
                        <ul>
                            <li class="job-key-points">Created a new standardized application selection process using Microsoft CRM </li>
                            <li class="job-key-points">Migrated application statistics and data using C# scripts</li>
                            <li class="job-key-points">Assisted in a POC for the application archiving process</li>
                        </ul>
                        <p class="isdr-job-title">Corporate Service Desk <small class="small-date">(July/2014 – January/2015)</small></p>
                        <ul>
                            <li class="job-key-points">Developed the full stack for the department’s web based knowledge management tool</li>
                            <li class="job-key-points">Designed and implemented the SQL database for UPMC’s Self Help tool </li>
                            <li class="job-key-points">Worked as liaison between management and agents to map application requirements</li>
                        </ul>
                    </div>
                </div> <!-- End UPMC ISDR Keypoints -->

                <!--UPMC Internship-->
                <div class="row">
                    <div class="col-md-8">
                        <h2 id="internship-header" class="company-name">University of Pittsburgh Medical Center</h2>
                        <h2>Software Engineer Intern</h2>
                    </div>
                    <div class="col-md-4">
                        <h2 class="subject-sub-date"><small>June/2013 - August/2013</small></h2>
                    </div>
                </div> <!-- End UPMC Internship Header -->

                <div class="row">
                    <div class="col-md-12">
                        <p class="job-description">A summer internship between my college junior and senior year</p>
                        <p class="job-team-name">E Record Custom App Development</p>
                        <ul>
                            <li class="job-key-points">Designed and developed web based tool for administering support for a hierarchy of questions</li>
                            <li class="job-key-points">Actively participated in the team’s new agile scrum software development process </li>
                            <li class="job-key-points">Participated in numerous interviews for open Software Engineer position with team</li>
                        </ul>
                    </div>
                </div> <!-- End UPMC Internship Keypoints -->


            </div> <!-- End Col Experiences Section -->


        </div> <!-- End Experience -->

    <!-- Projects -->
    <div class="row top-buffer">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="subject-header"><a href="{% url 'portfolio:projects' %}">Projects</a></h1>
                
            <div class="row">
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img target="_blank" href="https://schretzilla.github.io/Algorithim-Animation/bubble-sort.html" src="{% static 'portfolio/img/algorithm-animation.png' %}" alt="algorithm animation image">
                        <div class="caption">
                            <h3><a target="_blank" href="https://schretzilla.github.io/Algorithim-Animation/bubble-sort.html" target="_blank">Algorithm Animation</a></h3>
                            <p>    
                                <h5><small>January/2018</small></h5>                                       
                                    My flight back to LA from Philly took forever, so I used it as 
                                    an opportunity to build animations for some common sorting algorithms using D3.
                                    Here I randomly generate weighted lists of circles then, with the click of a 
                                    button, I animate each step of the algorithm.
                                </br>
                                </br>
                                <h5>Tools:</h5>
                                <ul class="list-inline">
                                    <li><a href="https://d3js.org/" target="_blank">D3 v4</a> </li>
                                    <li><a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap v3</a></li>
                                    <li><a href="https://pages.github.com/" target="_blank">Hosted using GitHub Pages</a></li>
                                </ul>
                            </p>
                            <p><a target="_blank" href="https://schretzilla.github.io/Algorithim-Animation/bubble-sort.html" class="btn btn-primary" role="button">Watch some animated sorting!</a> </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img target="_blank" href="https://schretzilla.github.io/adventure-america/index" src="{% static 'portfolio/img/x-country-adventure.png' %}" alt="x-country adventure image">
                        <div class="caption">
                            <h3><a target="_blank" href="https://schretzilla.github.io/adventure-america/index" target="_blank">Adventure America</a></h3>
                            <p>    
                                <h5><small>January/2017</small></h5>                                       
                                Adventure America is an animated travel story
                                that uses D3 to tell the story of my cross-country adventure. 
                                </br>
                                </br>
                                <h5>Tools:</h5>
                                <ul class="list-inline">
                                    <li><a href="https://d3js.org/" target="_blank">D3 v4</a> </li>
                                    <li><a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap v3</a></li>
                                    <li><a href="https://angularjs.org/" target="_blank">AngularJS</a></li>
                                    <li><a href="https://pages.github.com/" target="_blank">Hosted using GitHub Pages</a></li>
                                </ul>
                            </p>
                            <p><a target="_blank" href="https://schretzilla.github.io/adventure-america/index" class="btn btn-primary" role="button">Scroll through my adventure!</a> </p>
                        </div>
                    </div>
                </div>
            
            </div> <!--end row 1-->
            
            <div class="row">
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img href="{% url 'dynoquiz:signin' %}" src="{% static 'portfolio/img/quiz-rectangle.png' %}" alt="ExQuizit image">
                        <div class="caption">
                            <h3><a href="{% url 'dynoquiz:signin' %}" target="_blank">ExQuizit</a></h3>
                            <p>    
                                <h5><small>June/2016</small></h5>                                       
                                ExQuizit is a Python/Django + Angular web app that allows users to login,
                                create, take and share quizzes with other users.
                                </br>
                                </br>
                                <h5>Tools:</h5>
                                <ul class="list-inline">
                                    <li><a href="https://www.djangoproject.com/" target="_blank">Django 1.9</a> </li>
                                    <li>Python 2.7</li>
                                    <li><a href="https://angularjs.org/" target="_blank">AngularJS 1</a></li>
                                    <li><a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap v3</a></li>
                                    <li><a href="http://www.django-rest-framework.org/" target="_blank">Django Rest Framework v3</a></li>
                                    <li><a href="http://www.https.postgresql.org/" target="_blank">PostgreSQL 9.2</a></li>
                                    <li><a href="https://www.heroku.com/" target="_blank">Hosted using Heroku</a></li>
                                </ul>
                            </p>
                            <p><a target="_blank" href="{% url 'dynoquiz:signin' %}" class="btn btn-primary" role="button">Take a look!</a> </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img src="{% static 'portfolio/img/self-help.png' %}" alt="self-help image">
                        <div class="caption">
                            <h3>
                                <a href="{% url 'portfolio:self-help' %}">ServiceBaseV</a> 
                            </h3>
                            <p>
                                <h5><small>January/2015</small></h5>
                                    I created ServiceBaseV during my time at the service desk. SBV is a .Net web app for departmental knowledge management and problem tracking. I migrated the data from SBIV’s Access database to SBVs Microsoft SQL database using SSMS. On top of the database I built a web interface for the app using .Net and jQuery so that the department could have easy access to the information.
                                <h5>Tools:</h5>
                                <ul class="list-inline">
                                    <li>C#</li>
                                    <li>.Net Web Application</li>
                                    <li>Microsoft SQL Database</li>
                                    <li>JavaScript/jQuery</li>
                                    <li><a href="http://getbootstrap.com/2.3.2/" target="_blank">Twitter Bootstrap v2</a></li>
                                    <li>ADO .Net Entity Framework</li>
                                </ul>
                            </p>
                            <p><a href="{% url 'portfolio:self-help' %}" class="btn btn-primary" role="button">More Info</a></p>
                        </div>
                    </div>
                </div>          
            </div><!-- end row 2 -->

            <!-- row 3 -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img src="{% static 'portfolio/img/asset-dashboard-smaller.png' %}" alt="splunk-dashboard image">
                        <div class="caption">
                            <h3>
                                <a href="{% url 'portfolio:sacm' %}">Asset Data Warehouse</a>
                            </h3>
                            <p>
                                <h5><small>November/2015</small></h5>
                                    I worked on the Service Asset and Configuration Management project during my time on the Enterprise Systems Management team.
                                    I created SSIS jobs to collect data from multiple applications throughout the company and centralize it in the SACM database.         
                                <h5>Tools:</h5>
                                <ul class="list-inline">
                                    <li>Microsoft SQL Database</li>
                                    <li><a href="https://en.wikipedia.org/wiki/SQL_Server_Management_Studio" target="_blank">SSMS</a></li>
                                    <li><a href="https://en.wikipedia.org/wiki/SQL_Server_Integration_Services" target="_blank">SSIS</a></li>
                                    <li><a href="http://www.splunk.com/" target="_blank">Splunk</a></li>
                                </ul>
                            </p>
                            <p><a href="{% url 'portfolio:sacm' %}" class="btn btn-primary" role="button">More Info</a></p>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <!-- Add oldest project here -->
                </div>
            </div> <!-- end row 3 -->
        </div>
    </div>
    <!-- End Projects Row -->

    <div ng-app="home" ng-controller="HomeController" class="row top-buffer">
            <h1 class="subject-header">I've Got Some Skills...</h2>

            <div class="col-md-4">
                <!-- Skills -->
                <strong>Languages:</strong>
                <ul class="list-unstyled">
                    <li>
                        C#                            
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                85%
                            </div>
                        </div>
                    </li>
                    <li>
                        Python
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                70%
                            </div>
                        </div>
                    </li>
                </ul>

                <p><strong>Others Languages:</strong></p>
                <ul class="list-inline">
                    <li>Java</li>
                    <li>JavaScript/jQuery</li>                        
                    <li>Bash</li>
                    <li>KornShell</li>
                    <li>PHP</li>
                    <li>Ruby</li>
                    <li>VBA</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>


            </div>

            <div class="col-md-4">
                <!-- Skills -->
                <strong>Frameworks:</strong>
                <ul class="list-unstyled">
                    <li>.Net</li>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                            80%
                        </div>
                    </div>

                    <li>Django</li>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                            65%
                        </div>
                    </div>
                </ul>

                <p><strong>Others Frameworks:</strong></p>
                <ul class="list-inline">
                    <li>Angular</li>
                    <li>Django Rest Framework</li>
                    <li>Bootstrap</li>
                    <li>ADO .Net Entity Framework</li>
                    <li>D3</li>
                </ul>

            </div>

            <div class="col-md-4">
                <!-- Skills -->
                <strong>Operating Systems:</strong>
                <ul class="list-unstyled">
                    <li>UNIX</li>
                    <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                75%
                            </div>
                        </div>
                    <li>Windows</li>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                75%
                            </div>
                        </div>
                </ul>

                <strong>Tools:</strong>
                <ul class="list-inline">
                    <li>Visual Code</li>
                    <li>Open Shift</li>                
                    <li>Microsoft SSMS</li>
                    <li>Microsoft SSIS</li>
                    <li>Splunk</li>
                    <li>Version Control</li>
                    <li>NetBeans</li>
                    <li>Eclipse</li>
                    <li>VIM</li>
                    <li>Excel</li>
                    <li>PyCharm</li>
                    <li>PuTTY</li>
                </ul>

            </div>
        
    </div> <!-- End Skills Row-->

    <!-- Extras Section-->
    <div class="row top-buffer">
            <h1 class="subject-header">All the Extras</h2>
                
                <div class="col-md-4">
                    <h2 class="text-center">Education</h2>
                    <ul class="list-unstyled">
                        <li><strong>University of Pittsburgh</strong> Pittsburgh, PA  GPA: 3.07</li>
                        <li></li>
                        <li></li>
                        <li>Graduated May 2014</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li><em>Bachelor of Science in Applied Mathematics</em></li>
                        <li><em>Bachelor of Arts in Anthropology</em></li>
                        <li><em>Minor in Computer Science</em></li>
                    </ul>
                </div>
    
                <div class="col-md-4">
                    <h2 class="text-center">Extra Activities</h2>
                    <ul>
                        <li>All American Wrestler in PA State Competition</li>
                        <li>Ultramarathons, rowing, cycling, judo, water polo, wrestling</li>
                        <li>President and coach of the Wrestling Club, MEC Champion, NCWA National All American </li>
                        <li>IRONMAN triathlete </li>
                    </ul>
    
                </div>
    
                <div class="col-md-4">
                    <h2 class="text-center">Civic Endevaors</h2>
                    <ul>
                        <li>Samaritan’s Purse - Flood victims site worker </li>
                        <li>MS150 Ride for a Cure</li>
                        <li>Higher Achievement – Teacher and Student Mentor</li>
                        <li>Big Brother Big Sister</li>
                        <li>“Eye to Eye” volunteer organization – local mentoring program</li>
                        <li>Volunteer high school wrestling coach</li>
                    </ul>
                </div>
            </div>
    </div> <!-- End Extras Row -->
</div>

<div class="container">
        <footer class="footer">
            <div class="pull-right">
                <p class="text-muted">Updated: 1/2018</p>
            </div>
        </footer>
    </div>



    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

</body>
</html>