{% extends "portfolio/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">

    <div class="col-sm-12 col-lg-4">
        <div class="page-header">
            <h1>Self Help</h1>
            <h4><small>January/2015</small></h4>
        </div>

        <p class="lead">I created ServiceBaseV during my time at the service desk. SBV is a .Net web app for departmental knowledge management and problem tracking. I migrated the data from SBIV’s Access database to SBVs Microsoft SQL database using <a href="https://en.wikipedia.org/wiki/SQL_Server_Management_Studio" target="_blank">SSMS</a>. On top of the database I built a web interface for the app using .Net and jQuery so that the department could have easy access to the information.</p>

        <p class="lead">SBV has grown to be the companies Self-Help website. Here company wide problems are advertised and commonly asked questions are answered for all employees to access.  </p>

        <h4>Tools:</h4>
        <ul class="list-inline">
            <li>.Net Web Application</li>
            <li>Microsoft SQL Database</li>
            <li><a href="https://en.wikipedia.org/wiki/SQL_Server_Management_Studio" target="_blank">SSMS</a></li>
            <li>JavaScript/jQuery</li>
            <li><a href="http://getbootstrap.com/2.3.2/" target="_blank">Twitter Bootstrap 2</a></li>
            <li>ADO .Net Entity Framework</li>
        </ul>
    </div>
    <div class="col-sm-12 col-lg-8">
        <img src="{% static 'portfolio/img/self-help.png' %}" class="img-responsive" alt="Responsive image">
    </div>

</div>



{% endblock %}