{% extends "dynoquiz/base.html" %}

{% block content %}

{% load staticfiles %}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>About Quiztro<h1>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>What is this?</h2>
            <p>
                This app is just a demo that I'm using to work more with Django and Angular. I read a lot about different languages and frameworks, 
                however I find the best way to learn is to just build stuff. This web app allows users to create profiles and then create, edit, 
                take and share quizzes with other users. It's probably obvious that none of this is super practical and it is still a work in progress
                 but as for now it is the result of me just, 'building stuff.' 
            </p>
            <h2>History</h2>
            <p>
                In 2013 I was asked to develop a website for a clinical research lab. They wanted a way that they could ask questions to their 
                patients and record their responses locally to avoid any issues with HIPAA. With little experience involving how to build a 
                websites I went about building what I could. The end result was a very static PHP site with a MySql DB. The app did the job but
                 it didn't allow test administrators to edit their test’s questions and choices without understanding how to edit and deploy code. 
            </p>
            <p>
                The poor quality of my work still bothers me however I'm' trying to learn from the experience. Since then, when learning 
                a new language or framework, my first capstone project is to build a quiz distribution app. The goal is to insure that the 
                admin doesn't have to know anything about web development to create, distribute or edit their quizzes. The app has little 
                practical meaning now, but the CRUD operations are a good step in the right direction to mastering a new language/framework. 
            </p>
        </div>
        <div class="col-md-6">

            <h2>Tools:</h2>
            <ul>
                <li><a href="https://www.djangoproject.com/" target="_blank">Django 1.9</a> </li>
                <li>Python 2.7</li>
                <li><a href="https://angularjs.org/" target="_blank">AngularJS 1</a></li>
                <li><a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap 3</a></li>
                <li><a href="http://www.django-rest-framework.org/" target="_blank">Django Rest Framework v3</a></li>
                <li><a href="http://www.https.postgresql.org/" target="_blank">PostgreSQL 9.2</a></li>
                <li><a href="https://www.openshift.com/" target="_blank">Hosted using OpenShift (small gear)</a></li>
            </ul>

        </div>

    </div>
</div>

{% endblock %}