{% extends "dynoquiz/base.html" %}
{% load staticfiles %}

{% block content %}
    <script src="{% static 'dynoquiz/js/index.js' %}"></script>
    <div ng-app="index" ng-controller="QuizCtrl" ng-init="loadPage('{{ request.user.id }}')">

                <ul class="nav nav-pills nav-justified">
                    <li ng-class="usersQuizBtnClass" role="presentation"><a href=".">{{ request.user.username|capfirst}}'s Quizzes</a></li>
                    <li ng-class="availableQuizBtnClass" role="presentation"><a href="available">Available Quizzes</a></li>
                </ul>
                </br>
        <div class="row" >
            <div class="col-lg-12">
                <div ng-show="quizes.length == 0" class="col-lg-6">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title">Quizzes Available!</h3>
                      </div>
                      <div class="panel-body">
                        <p>It looks like you haven't created any quizzes yet! Use the form on this page
                        to start creating quizzes.</p> 

                        <label>Once a quiz is created it will appear here and you can:</label>
                        <ol>
                            <li>Add mulitiple choice questions with answers.</li>
                            <li>Share the quiz with other users.</li>
                            <li>Take the quiz yourself.</li>
                        </ol> 

                      </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <!-- List Current Quizes reverse order -->
                    <div  ng-show="quizes != null"  ng-repeat="quiz in quizes"  class="row">
                        <div class="list-group">
                            <a href="{[{quiz.id}]}/edit" class="list-group-item">
                                <h3 class="list-group-item-heading"> {[{quiz.quiz_name}]}</h3>
                                <p class="list-group-item-text">{[{quiz.quiz_details}]}</p>
                            </a>
                            <button data-toggle="modal" data-target="#myModal" ng-click="shareQuiz(quiz)" type="button" class="btn btn-primary btn-md">Share</button>
                            <a href='{[{quiz.id}]}/edit' type="button" class="btn btn-info btn-md">Edit</a>
                            <button ng-click="removeQuiz(quiz.id)" type="button" class="btn btn-danger btn-md">Delete</button>
                            <!-- Add dropdown
                            <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropup
                                <!--<span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a data-toggle="modal" data-target="#myModal">Open Modal</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                            </div>-->
                        </div> <!--End List Group -->
                    </div> <!-- End Row -->

                </div><!-- End left Col -->
                <!-- Right Col -->
                <div class="col-lg-6">
                    <h2>Add Quiz</h2>
                    <!-- Quiz Create/Edit Fields -->
                    <div id="create-new-quiz" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="quiz-title">Quiz Title</label>
                                <input ng-model="quizName" type="text" class="form-control" id="quiz-title" placeholder="Quiz Title">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="quiz-description">Quiz Description</label>
                                <textarea ng-model="quizDetails" class="form-control" id="quiz-description" placeholder="Quiz Description" rows="3"></textarea>
                            </div>
                        </div>

                         <div class="form-group">
                            <div class="col-sm-12">
                                <button ng-click="addQuiz()" type="button" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </div>

                </div><!-- end right col -->

                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Share Quiz Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Share Quiz: {[{curQuiz.quiz_name}]}</h4>
                      </div>
                      <div class="modal-body">
                        <p>Select users to share with: </p>
                          <div ng-repeat="user in users | filter:{ id: '!'+curUserId}" class="checkbox">
                              <label><input ng-click="shareWithUser(user, $index)" ng-checked="quizAvailable(user)" type="checkbox" value="">{[{ user.username }]}</label>
                              <label ng-show="user.saved==true">saved!</label>
                              <!--<button ng-click="shareWithUser(user)" type="button" class="btn btn-link">{[{user.username}]}</button> -->
                          </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
            </div> <!-- End div class col-lg-12 -->
        </div> <!-- end div row -->



    </div> <!-- end index and angular controller div -->

{% endblock %}