{% extends "dynoquiz/base.html" %}

{% block content %}

{% load staticfiles %}
<script src="{% static 'dynoquiz/js/takequiz.js' %}"></script>

<div ng-app="takeQuiz">
    <div class="row">
        <div class="col-md-1 col-md-offset-11">
            <a href="{% url 'dynoquiz:quiz_results' quiz_id=quiz.id %}">results/answers</a>
        </div>
    </div>
    <div ng-controller="TakeQuizCtrl" class="row" ng-init="loadPage('{{ quiz.id }}')">
        <div class="col-md-6 col-md-offset-3">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-heading text-center">{{quiz.quiz_name}}</h1>
                    <h4 class="text-center">Quiz Owner: {{quiz.owner.username}}</h4>    
                </div>

                <div class="panel-body">
                    <form action="{% url 'dynoquiz:submit_quiz' quiz.id %}" name="quizForm" method="post">
                        {% csrf_token %}
                        {% for question in questions %}

                        <div class="form-group">
                            <label>Question text: {{question.question_text}} </label>

                            {% for choice in question.choices.all %}
                            <div class="radio">
                                <label>
                                    <input type="radio" name="question{{question.id}}" id="choice{{choice.id}}" value="{{choice.id}}" required>
                                    {{choice.choice_text}}
                                </label>
                            </div>
                            {% endfor %}
                        </div>

                        {% endfor %}

                        <div class="form-group">
                            <input type="submit" value="submit" class="btn btn-primary"/>
                        </div>

                    </form>


                </div> <!-- End Panel Body -->
            </div> <!-- End panel default -->
        </div> <!-- End Center col -->
    </div> <!-- End Row and controller -->

</div>

{% endblock %}

